.header__inner {
    width: 100%;
    height: 113px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: #fff;
}
.header__logo {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 0;

}
.header__logo a {
    text-transform: uppercase;
}
.header__logo em {
    text-transform: none;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__menu li {
    width: 60%;
    display: inline;
}
.header__menu li a {
    padding: 13px 50px;
    margin: 0 5px;
}
.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu li.active a {
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    color: #fff;
}
.header__ham {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
}
.header__ham span {
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.25s margin 0.25s, 0.25s transform ;
}
.header__ham span:nth-child(1) {
    margin-top: 17px;
}
.header__ham.active span {
    transition: 0.25s margin, 0.25s transform 0.25s;
}
.header__ham.active span:nth-child(1) {
    margin-top: 25px;
    margin-bottom: -7px;
    transform: rotate(45deg);
}
.header__ham.active span:nth-child(2) {
    transform: rotate(45deg);
    
}
.header__ham.active span:nth-child(3) {
    margin-top: -2px;
    transform: rotate(135deg);
}
/* media */
@media(max-width: 1300px){
    .header__inner {
        height: auto;
    }
    .header__menu {
        position: fixed;
        right: -100%;
        top: 69px;
        background: #fff;
        width: 60%;
        height: 100vh;
        padding: 20px;
        text-align: right;
        transition: right 0.4s ease-in;
    }
    .header__menu ul li {
        display: block;
        margin: 25px;
    }
    .header__menu ul li a {
        white-space: nowrap;
    }
    .header__menu.overlay {
        right: 0;
    }
    .header__member {
        margin-right: 50px;
    }
    .header__ham {
        display: block;
    }
    .header__logo {
        width: 50%;
        text-align: left;
    }
    .header__member {
        width: 50%;
    }
}
@media(max-width: 600px){
    .header__logo {
        font-size: 24px;
    }
}