.slider__wrap {
    margin-top: 113px;
    position: relative;
}
/* swiper */
.swiper-slide {
    background: url(../img/SLIDER_TYPE01.jpg) no-repeat center / cover;
}
.swiper-slide:nth-child(2) {
    background: url(../img/SLIDER_TYPE02.jpg) no-repeat center / cover;
}
.swiper-slide:nth-child(3) {
    background: url(../img/SLIDER_TYPE03.jpg) no-repeat center / cover;
}
.swiper-slide .desc {
    width: 1160px;
    margin: 0 auto;
    padding: 100px 20px;
    box-sizing: border-box;
}
.swiper-slide .desc h3 {
    font-size: 110px;
    font-weight: 700;
    line-height: 1.1;
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-left: -8px;
}
.swiper-slide .desc p {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    line-height: 1.38;
    margin-bottom: 30px;
}

.swiper-slide .desc .btn a {
    font-size: 16px;
    background-color: #4857EC;
    padding: 11px 50px;
    display: inline-block;
    color: #fff;
}
